/* GÉNÉRAL */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree', serif;
}

body 
{
    max-width: 100%;
    height: 100vh;
}

h1 
{
    font-weight: bold;
}

p
{
    color: #6b6b6b;
    font-weight: 500;
    line-height: 1.5;
    padding: 1.25rem 0;
}

h2
{
    font-size: 1rem;
    font-weight: bolder;
    padding-left: 0.625rem;
    padding-top: 0.313rem;
}

/* BODY */

body
{
    background-color: #f4d04e;
}

#main-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    height: 100vh;
    margin: auto;
}

.main-content
{
    background-color: #fff;
    padding: 1.25rem;
    border-radius: 0.938rem;
    border: solid 0.125rem #121212;
    box-shadow: 0.438rem 0.438rem #121212;
}

.main-content img
{
    margin-bottom: 0.938rem;
    border-radius: 0.938rem;
}

.overlay
{
    color: #121212;
    font-weight: bolder;
    display: inline-block;
    background-color: #f4d04e;
    padding: 0.313rem 0.625rem;
    border-radius: 0.313rem;
}

.published
{
    padding: 0.938rem 0;
}

.signature
{
    display: flex;
    align-content: center;
}

.signature img
{
    width: 10%;
}

.attribution 
{
    position: absolute;
    bottom: 0.625rem;
    right: 0.625rem;
    margin-left: 0.5rem;
    text-align: center;
}
